<header>
  <img alt="inesita" src="images/inesita.gif"/>
  <h1>Inesita</h1>
  <h2>Little princess among the frontend frameworks</h2>
</header>
<hr>
<center>
  <a class="github-button" href="https://github.com/inesita-rb/inesita" data-icon="octicon-star" data-style="mega" data-count-href="/inesita-rb/inesita/stargazers" data-count-api="/repos/inesita-rb/inesita#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star inesita-rb/inesita on GitHub">Star</a>
  <a class="github-button" href="https://github.com/inesita-rb/inesita" data-icon="octicon-eye" data-style="mega" data-count-href="/inesita-rb/inesita/watchers" data-count-api="/repos/inesita-rb/inesita#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch inesita-rb/inesita on GitHub">Watch</a>
  <a class="github-button" href="https://github.com/inesita-rb/inesita/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/inesita-rb/inesita/network" data-count-api="/repos/inesita-rb/inesita#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork inesita-rb/inesita on GitHub">Fork</a>
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</center>
<hr>
